{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
{% endblock %}

{% block title %}AZPriceProbe{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}

<div class="jumbotron text-center">
    <div class="container">
      <img src="{{ url_for('static', filename='images/azpriceprobe.png') }}" alt="AZPriceProbe">
      <p class="lead">Tired of checking prices on Amazon of several products to see if they are on sale?</p>
      <hr class="my-4">
      <p>You've found the right place! Add the products you want checked and get notified if they are at or below your target price!</p>
      <a class="btn btn-warning btn-lg register-button" href="{{ url_for('register') }}" role="button">Register</a>
      <a class="btn btn-warning btn-lg login-button" href="{{ url_for('login') }}" role="button">Login</a>
        <br>
        <br>
      <a class="btn btn-primary btn-md demo-button" href="{{ url_for('demo_login') }}" role="button">Demo Login</a>
    </div>
</div>

{% endblock %}